<!doctype html>
<html lang="rus" class="site">
<head>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <meta charset="utf-8">
    <title>Зарядные станции электромобилей</title>
</head>
<body>
 <header class="header">
    <div class="header_logo">
        <a class="header_logo" href="..">
            <img src='http://localhost:9000/bucket1/logo.png'>
            <span id="header_logo_text">Зарядные станции электромобилей</span>
        </a>
    </div>
 </header>
 <div class="page_container">
    {% block page %}{% endblock %}
 </div>
</body>
</html>